@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: oklch(
    from var(--color-blue-950) calc(l * 0.35) calc(c * 0.3) h
  );
  --color-background-lighter: var(--color-neutral-900);
  --color-foreground: oklch(from var(--color-neutral-300) calc(0.81) c h);

  --color-terminal: oklch(from var(--color-background) calc(l * 0.8) calc(c * 0.9) h);
  --color-decoration: oklch(from var(--color-background) calc(l * 2.5)  calc(c * 4) h);

  --color-card: var(--color-neutral-900);
  --color-card-foreground: var(--color-foreground);

  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground);

  --color-primary: var(--color-emerald-600);
  --color-primary-foreground: var(--color-emerald-300);

  --color-secondary: var(--color-neutral-900);
  --color-secondary-foreground: var(--color-foreground);

  --color-muted: var(--color-neutral-500);
  --color-muted-foreground: var(--color-neutral-400);

  --color-accent: var(--color-orange-600);
  --color-accent-foreground: var(--color-orange-300);

  --color-destructive: oklch(from var(--color-red-500) calc(l + 0.025) c h);
  --color-destructive-foreground: var(--color-foreground);

  --color-border: var(--color-neutral-600);
  --color-input: var(--color-border);
  --color-ring: var(--color-neutral-300);

  --radius: 4px;
  --radius-lg: calc(var(--radius) + 2px);
  --radius-md: calc(var(--radius));
  --radius-sm: calc(var(--radius) - 2px);

  --font-lowres: 'MedodicaRegular', consolas;
}

@layer base {
  @font-face {
    font-family: 'MedodicaRegular';
    src: url('/font/MedodicaRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  :root {
    font-size: 16px;

    @media (max-width: 64rem) {
      font-size: 13px;
    }
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);

    font-family: Recursive, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility threeD {
  @apply shadow-[4px_4px] shadow-neutral-600 hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[6px_6px] transition-all active:translate-x-0.5 active:translate-y-0.5 active:shadow-[0px_0px];
}

@utility text-glow {
  @apply text-shadow-lg text-shadow-foreground/20;
}
@utility text-glow-sm {
  @apply text-shadow-sm text-shadow-foreground/20;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 100%;
  }
}
@utility animate-blink {
  animation: blink 1000ms infinite step-end;
}

@layer scrollbar {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
  }

  ::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);

    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      color-stop(0.5, rgba(255, 255, 255, 0.2)),
      color-stop(0.5, transparent),
      to(transparent)
    );
  }
}
