@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: var(--color-neutral-950);
  --color-background-lighter: var(--color-neutral-900);
  --color-foreground: var(--color-neutral-100);

  --color-card: var(--color-neutral-900);
  --color-card-foreground: var(--color-foreground);

  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground);

  --color-primary: var(--color-emerald-600);
  --color-primary-foreground: var(--color-emerald-300);

  --color-secondary: var(--color-neutral-800);
  --color-secondary-foreground: var(--color-foreground);

  --color-muted: var(--color-neutral-500);
  --color-muted-foreground: var(--color-neutral-400);

  --color-accent: var(--color-orange-600);
  --color-accent-foreground: var(--color-orange-300);

  --color-destructive: oklch(from var(--color-red-500) calc(l + 0.025) c h);
  --color-destructive-foreground: var(--color-foreground);

  --color-border: var(--color-neutral-600);
  --color-input: var(--color-border);
  --color-ring: var(--color-neutral-300);

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-lowres: 'MedodicaRegular', consolas;
}

@layer base {
  @font-face {
    font-family: 'MedodicaRegular';
    src: url('/font/MedodicaRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);

    font-family: Recursive, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility threeD {
  @apply shadow-[4px_4px] shadow-neutral-600 hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[6px_6px] transition-all active:translate-x-0.5 active:translate-y-0.5 active:shadow-[0px_0px];
}

@utility text-glow {
  @apply text-shadow-lg text-shadow-foreground/20;
}
@utility text-glow-sm {
  @apply text-shadow-sm text-shadow-foreground/20;
}
